<h1 id='star'>✳</h1>

<h2>This ✳ is a symbol to Share.</h2>

<p>Whenever ✳ marks someone's work, it means they are willing to share it with you.</p>

<h2>Be Free</h2>

<p>The work shared can be used worldwide for any purpose whatsoever (<em>i.e.</em> no copyright), so you're free to copy, use, and redistribute the work any way you like. Giving credit is optional.</p>

<h2>Agree?</h2>

<p>If you need more clarity, please read the <a href="/agreement">Sharing Agreement</a>. It's lengthy, but legit.</p>

<h1 id='how'>Share</h1>

<p>To share your own work with the <a href="/agreement">Sharing Agreement</a>, type your name and the URL to your work into the form below, then copy the HTML onto your own website.</p>

<form>
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Your name..."/>
  <label for="url">URL</label>
  <input type="text" name="url" placeholder="The URL to your work..."/>

  <!--<button type="submit" class="btn">Submit</button>-->
  
  <label for="code">The Code</label>
  <textarea id="code" name="code" disabled="disabled"> </textarea>
</form>

<h2>Details</h2>

<p>The Sharism symbol is represented by ✳, an eight spoked asterisk, or the HTML code &amp;#10035;</p>
