<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{site.title}} - {{page.title}}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <meta name="keywords" content="{{site.keywords | join: ', '}}" />

  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="/assets/fonts/bebas-neue/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/league-gothic/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/economica/stylesheet.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <script src="/assets/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>

<div class="container">
  <header>
  
  <h1>{{site.title}}</h1>

  </header>
  <div role="main" id="main">
  
  {{ content }}

  </div>
  <footer>
  
  {% include footer.md %}

  </footer>
</div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
